apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: traefik-ingress
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.frontend.rule.type: "PathPrefixStrip"
    traefik.backend.loadbalancer.stickiness: "true"   
spec:
  rules:
  - host: ma.machine.kubernetes
    http:
      paths:
      - path: /wa
        backend:
          serviceName: webapp-svc
          servicePort: 80
