----traefik------------------------------
docker network create --driver=overlay traefik-net
docker service create \
    --name traefik \
    --constraint=node.role==manager \
    --publish 80:80 --publish 8080:8080 \
    --mount type=bind,source=/var/run/docker.sock,target=/var/run/docker.sock \
    --network traefik-net \
    traefik \
    --docker \
    --docker.swarmMode \
    --docker.domain=traefik \
    --docker.watch \
    --api

docker service create \
    --name quelconteneur \
    --constraint=node.role==worker \
    --replicas 2 \
    --label traefik.port=80 \
    --network traefik-net \
    --label traefik.backend.loadbalancer.stickiness=true \
    --label traefik.backend.loadbalancer.swarm=true \
    quelconteneur:v1
 

curl -c cookies.txt -H Host:quelconteneur.traefik localhost
curl -b cookies.txt -H Host:quelconteneur.traefik localhost
