version: "3.3"
services:
  traefik:
    image: traefik
    command: --web \
      --docker \
      --docker.swarmmode \
      --docker.domain=traefik \
      --docker.watch \
      --logLevel=DEBUG
    networks:
      - traefik-net
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /dev/null:/traefik.toml
    deploy:
      placement:
        constraints: [node.role==manager]
  quelconteneur:
    image: quelconteneur:v1
    deploy:
      placement:
        constraints:
          - node.role == worker
      replicas: 4
      labels:
        - "traefik.port=80"
        - "traefik.docker.network=traefik-net"
        - "traefik.backend.loadbalancer.stickiness=true"
        - "traefik.frontend.rule=Host:quelconteneur.traefik"
    networks:
      - traefik-net
networks:
    traefik-net:
