---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: quelconteneur
spec:
  replicas: 4
  template:
    metadata:
      labels:
        app: quelconteneur
    spec:
      containers:
      - name: quelconteneur
        image: quelconteneur:v1
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: quelconteneur
  annotations:
    traefik.ingress.kubernetes.io/affinity: "true"
  labels:
    app: quelconteneur
    
spec:
  ports:
  - port: 80
  selector:
    app: quelconteneur
