---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: webapp
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp
        image: emilevauge/whoami
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: webapp-svc
  labels:
    app: webapp
    traefik.ingress.kubernetes.io/affinity: "true"
spec:
  ports:
  - port: 80
  selector:
    app: webapp
